name: CI check on every push
on:
  push:
    paths-ignore:
    - '**.md'
    - 'Makefile'
    - 'config.json'

jobs:
  ci:
    runs-on: ubuntu-latest
    container:
      image: centos:centos7
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Setup necessary packages
        run: |
          yum install epel-release -y
          yum groupinstall 'Development Tools' -y
          yum install libaom-devel -y

      - name: run test cases
        run: make test && make

      - name: Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.txt
          verbose: true
