name: CI check on every push
on:
  push:
    paths-ignore:
    - '**.md'
    - 'Makefile'
    - 'config.json'

jobs:
  ci:
    name: CI check on every push
    runs-on: ubuntu-latest
    container:
      image: centos:centos7
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Setup necessary packages
        run: |
          yum install epel-release -y
          yum groupinstall 'Development Tools' -y
          yum install libaom-devel -y

      - name: run test cases
        run: make test && make

      - name: Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.txt
          verbose: true

  image-test:
    name: Check for image build and CVE
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Lower case for ghcr
        id: ghcr_string
        uses: ASzc/change-string-case-action@v1
        with:
          string: ${{ github.event.repository.full_name }}

      - name: Build and load image
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/arm,linux/amd64,linux/arm64
          load: true
          tags: |
            ghcr.io/${{ steps.ghcr_string.outputs.lowercase }}

          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Scan for possible CVEs
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ghcr.io/${{ steps.ghcr_string.outputs.lowercase }}
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true