name: CI check on every push
on:
  push:
    paths-ignore:
    - '**.md'
    - 'Makefile'
    - 'config.json'

jobs:
  ci:
    runs-on: ubuntu-latest
    container:
      image: centos:centos7
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: true

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17.3

      - name: run test cases
        run: sudo apt install libaom-dev && make test && make

      - name: Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.txt
          verbose: true
