name: CI check on every PR
on:
  pull_request:
    branches:
      - master
    paths-ignore:
    - '**.md'
    - 'Makefile'
    - 'config.json'

jobs:
  ci:
    name: CI check on every push
    runs-on: ubuntu-latest
    container:
      image: centos:centos7
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Setup necessary packages
        run: |
          yum install epel-release -y
          yum groupinstall 'Development Tools' -y
          yum install libaom-devel -y

      - name: run test cases
        run: make test && make

      - name: Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.txt
          verbose: true

  image-test:
    name: Check for image build and CVE
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Cache Docker layers
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            ghcr.io/${{ github.event.repository.full_name }}

      - name: Build and load image
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          tags: ${{ steps.meta.outputs.tags }}

          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new,mode=max

      - name: Install trivy
        run: |
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy -y
      
      - name: Scan for CVE
        uses: mathiasvr/command-output@v1
        id: trivy
        with:
          run: |
            trivy image --no-progress --severity "HIGH,CRITICAL" ghcr.io/${{ steps.ghcr_string.outputs.lowercase }}
      
      - name: Print CVE
        run: |
          echo "${{ steps.trivy.outputs.stdout }}"

      - name: Comment PR
        uses: thollander/actions-comment-pull-request@v1
        with:
          message: |
            ```
            ${{ steps.trivy.outputs.stdout }}
            ```
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}